CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# === VS Code ===
# Игнорируем локальные настройки, кроме tasks.json (если он нужен команде)
.vscode/*
.vscode/tasks.json
.vscode/launch.json
# Локальная история и кэш расширений
.history/
*.code-workspace

build/
build/*
build

trash
trash/
trash/*
